/* MenuPage.css */

@media only screen and (max-width: 767px) {
  /* Styles for screens smaller than 768px (phones) */
  body {
    zoom: 0.5; /* Adjust the zoom factor as needed */
  }
}


.menu-page {
  background-color: #ece1db;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.beverage-subheading {
  color: #271F25;
  /* Add additional styling as needed */
}

.caffeine-section {
  display: flex;
  justify-content: center; /* Center content horizontally */
  margin-top: 0px;
  /* Add additional styling as needed */
}

.coffee-image,
.float-image {
  /* Add styling for the images */
    width: 300px;
    height: 300px;
    position: relative;
}

.coffee-image {
  margin-left: 25px;
}

.caffeine-details {
  margin: 0 20px;
  /* Add additional styling as needed */
}

.non-caffeine-section {
  display: flex;
  margin-top: 0px;
}

.non-caffeine-details {
  margin-top: 0 20px;
  margin-left: 25px;
  /* Add additional styling as needed */
}

.float-image {
  margin-left: 15px;
}

.caffeine-details ul,
.non-caffeine-details ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.caffeine-details ul li,
.non-caffeine-details ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Adjust spacing between items */
}

.smaller-font {
  font-size: 10px; /* Adjust the font size as needed */
  line-height: 0.5; /* Adjust line height as needed */
}

.small-title {
position: relative;
z-index: 1;
}

.food-subheading {
color: #271F25;
/* Add additional styling as needed */
}

.cakes-section,
.baked-products-section {
display: flex; /* Center content horizontally */
margin-top: 0px;
/* Add additional styling as needed */
}

.cakes-image,
.pie-image {
/* Add styling for the images */
width: 300px;
height: 300px;
position: relative;
}

.cakes-image {
margin-right: 15px;
}

.cakes-details,
.baked-products-details {
margin: 0px;
/* Add additional styling as needed */
}

.baked-products-details {
margin-left: -40px;
margin-right: 20px;
/* Add additional styling as needed */
}

.pie-image {
margin-top: 0px;
margin-right: -60px;
}

.cakes-details ul,
.baked-products-details ul {
list-style-type: none;
padding: 0;
margin: 0;
}

.cakes-details ul li,
.baked-products-details ul li {
display: flex;
justify-content: space-between;
margin-bottom: 10px; /* Adjust spacing between items */
}

.caffeine-details ul li span.price {
margin-left: 150px; /* Adjust the spacing as needed */
}

.non-caffeine-details ul li span.price {
margin-left: 160px; /* Adjust the spacing as needed */
}

.cakes-details ul li span.price {
margin-left: 90px; /* Adjust the spacing as needed */
}

.baked-products-details ul li span.price {
margin-left: 90px; /* Adjust the spacing as needed */
}

.smaller-font {
font-size: 10px; /* Adjust the font size as needed */
line-height: 1; /* Adjust line height as needed */
}

.small-title {
position: relative;
z-index: 1;
}

.small-title::before {
content: '';
display: block;
position: absolute;
top: 50%;
left: -10px; /* Adjust the distance from the text */
transform: translateY(-50%);
width: 290px; /* Adjust the width of the colored box */
height: 40px; /* Adjust the height of the colored box */
background-color: #c9b4a8;
z-index: -1;
}

.responsive-element {
  width: 50%; /* Adjust as needed */
  margin: 0 auto; /* Center the element */
}
